<template>
  <v-container id="project-management-resources" fluid>
    <v-parallax :src="images.magentaForestRoad">
      <section class="header magenta-overlay workshop-hero">
        <v-layout row wrap align-center justify-content-center>
          <v-flex xs12 md6 class="pa-4">
            <h1 class="hero-header">{{ workshop.title }}</h1>
            <p class="hero-subheader">
              Tools for creatives, entrepreneurs and disruptors
            </p>
          </v-flex>
          <v-flex xs12 md6 class="pa-4">
            <v-card dark class="gradient-bg workshop-card py-3" max-width="280">
              <v-card-title primary-title class="">
                <div>
                  <p>
                    <span class="card-subheader">
                      <v-icon dark class="mr-2">
                        far fa-calendar-alt
                      </v-icon>
                      {{ workshop.date }}
                    </span>
                  </p>
                  <p>
                    <span class="card-subheader">
                      <v-icon dark class="mr-2">
                        fas fa-map-marker-alt
                      </v-icon>
                      {{ workshop.location }} <br />
                      {{ workshop.address }}
                    </span>
                  </p>
                  <p>
                    <span class="card-subheader">
                      <v-icon dark class="mr-2">
                        fas fa-bookmark
                      </v-icon>
                      {{ workshop.time }}
                    </span>
                  </p>
                </div>
              </v-card-title>
              <v-card-text class="">
                <p>
                  <span class="price">{{ workshop.price }}</span>
                </p>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  large
                  :href="workshop.link"
                  target="_blank"
                  class="ma-2"
                  round
                  dark
                  outline
                >
                  BOOK NOW
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </section>
    </v-parallax>

    <section class="gradient-bg">
      <v-layout row wrap class="pa-4">
        <v-flex xs12 class="px-4">
          <h2 class="main-header mb-2">About the Workshop</h2>
        </v-flex>
        <v-flex xs12 md6 class="px-4">
          <p>
            This is a chance to set things in motion, whether you’re working on
            an art project, a community event, or your own business.
          </p>
          <p>
            It's not just about learning one specific project management method.
            This workshop is designed to teach you how to consistently define
            your goals, challenges, and resources in any given project through a
            hands-on approach.
          </p>
          <p>
            We’ll dive deep into creating healthy team dynamics, and make our
            way to the key areas involved in a successful project.
          </p>
        </v-flex>
        <v-flex xs12 md6 class="px-4">
          <p>
            During the workshop you will be using several digital tools to help
            you automate the repetitive tasks involved in any project; like
            keeping track of activities, time, and documents.
          </p>
          <p>
            If you consider yourself a non-technical person, there is nothing to
            be afraid of. Digital tools are here to serve you. Together we’ll go
            through the decision-making process involved in picking the right
            tools for the job, and how to use them to solve real-life problems.
          </p>
          <p>
            Our goal is that by the end of the experience you’ll have the right
            tools and mindset to approach your project in a more conscious way.
          </p>
        </v-flex>
      </v-layout>
    </section>

    <v-parallax dark :src="images.cenitalMagentaForest" height="auto">
      <section class="magenta-overlay">
        <v-layout column align-center align-content-center justify-center>
          <v-flex xs12>
            <p>
              <v-btn
                large
                :href="workshop.link"
                target="_blank"
                class="ma-2"
                round
                dark
                outline
              >
                BOOK NOW
              </v-btn>
            </p>
          </v-flex>
        </v-layout>
      </section>
    </v-parallax>

    <section class="gradient-bg-inverted outline">
      <v-layout column align-content-center class="pa-3">
        <v-layout row wrap align-start justify-start>
          <v-flex xs12 md6 class="px-3">
            <h2 class="mb-4">What are you going to learn?</h2>
            <ul>
              <li class="no-style">
                <h3>Agile Project Management</h3>
              </li>
              <li class="no-style">
                <ul>
                  <li>
                    Planning and structuring any type of project from the ground
                    up
                  </li>
                  <li>
                    Identifying and managing valuable data and resources in the
                    age of information overload
                  </li>

                  <li>
                    Continuous integration of new tools and methodologies into
                    your workflow
                  </li>
                </ul>
              </li>
              <li class="no-style">
                <h3>Conscious Team Workflow</h3>
              </li>
              <li class="no-style">
                <ul>
                  <li>
                    How to connect with your team at a human level
                  </li>
                  <li>
                    Cultivating a healthy team culture
                  </li>
                  <li>
                    Team focused leadership
                  </li>
                </ul>
              </li>
              <li class="no-style">
                <h3>21st Century Workspace</h3>
              </li>
              <li class="no-style">
                <ul>
                  <li>
                    Best practices for interdisciplinary teams
                  </li>
                  <li>
                    Decentralized & asynchronous collaboration
                  </li>
                  <li>
                    Running successful meetings in a digital world
                  </li>
                </ul>
              </li>
            </ul>
          </v-flex>
          <v-flex xs12 md6 class="px-3 mb-2">
            <h2 class="mb-4">Who is this for?</h2>
            <p>
              Maybe you're part of a small enterprise, lean startup or a remote
              team - your could also be working for yourself with lots of moving
              pieces to keep track of.
            </p>
            <p>
              Whatever your situation is, this workshop is for artists,
              entrepreneurs and disruptors who are already working on their own
              projects, and are looking for smarter ways to stay organized,
              collaborate, and get things done.
            </p>
            <p class="text-xs-center">
              <img
                :srcs="images.methodologies"
                alt="Project Management Methodologies"
                class="illustration"
              />
            </p>
          </v-flex>
        </v-layout>
      </v-layout>
    </section>

    <v-parallax :src="images.cenitalMagentaForest" height="auto">
      <section class="magenta-overlay">
        <v-layout column wrap align-center>
          <v-flex xs12 class="px-3 mb-5">
            <div class="text-xs-center">
              <h2 class="main-header mb-4">Instructors</h2>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout justify-space-around row wrap>
                <hbl-profile-card
                  v-for="human in humans"
                  :key="human.name"
                  :image="human.image"
                  :name="human.name"
                  :title="human.title"
                  :socialLinks="human.socialLinks"
                >
                </hbl-profile-card>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>
    </v-parallax>
  </v-container>
</template>

<script>
import magentaForestRoad from '@/assets/images/backgrounds/magenta_forest_road.jpg'
import cenitalMagentaForest from '@/assets/images/backgrounds/cenital_magenta_forest.jpg'
import HblProfileCard from '@/components/HblProfileCard'
import ramiroProfile from '@/assets/images/profiles/ramiro.jpg'
// import sabrinaProfile from '@/assets/images/profiles/sabrina.jpg'
import benProfile from '@/assets/images/profiles/ben.jpg'
import methodologies from '@/assets/images/workshops/methodologies.svg'

export default {
  components: {
    HblProfileCard
  },
  head() {
    return {
      title:
        'Collective Workflow - Agile Project Management for creatives and entrepreneurs - Human Beyond Labs',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            "This is a chance to set things in motion, no matter if you're working on an art project, a community event, or your own business."
        },
        {
          hid: 'keywords',
          name: 'keywords',
          keywords:
            'project management, workshop, course, entrepreneur, artist, creative, time blocking, time management, agile team, descentralized team, cross-funciontal team, amsterdam, Netherlands'
        }
      ]
    }
  },
  data() {
    return {
      images: {
        magentaForestRoad,
        cenitalMagentaForest,
        methodologies
      },
      workshop: {
        title: 'Collective Workflow - Project Management Foundations',
        price: '€164',
        date: 'May 25th, 2019',
        location: 'Cinetol - Amsterdam',
        address: 'Tolstraat 182, 1074 VM',
        time: '11h - 17h',
        link:
          'https://www.eventbrite.com/e/workshop-project-management-project-management-foundations-and-tools-tickets-61986179331'
      },
      humans: [
        // {
        //   name: 'Sabrina Tolmer',
        //   image: sabrinaProfile,
        //   title: 'CO-FOUNDER',
        //   socialLinks: [
        //     {
        //       icon: 'fab fa-twitter',
        //       title: 'Twitter',
        //       link: 'https://twitter.com/iamwayra'
        //     },
        //     {
        //       icon: 'fab fa-instagram',
        //       title: 'Instagram',
        //       link: 'https://www.instagram.com/wayra4'
        //     },
        //     {
        //       icon: 'fab fa-linkedin',
        //       title: 'LinkedIn',
        //       link: 'https://www.linkedin.com/in/sabrina-tolmer-819426126/'
        //     }
        //   ]
        // },
        {
          image: ramiroProfile,
          name: 'Ramiro Ramirez',
          title: 'CO-FOUNDER & CTO',
          socialLinks: [
            {
              icon: 'fab fa-twitter',
              title: 'Twitter',
              link: 'https://twitter.com/eco_virtual'
            },
            {
              icon: 'fab fa-instagram',
              title: 'Instagram',
              link: 'https://www.instagram.com/ecovirtual/'
            },
            {
              icon: 'fab fa-linkedin',
              title: 'LinkedIn',
              link: 'https://www.linkedin.com/in/ramirezramiro/'
            }
          ]
        },
        {
          image: benProfile,
          name: 'Ben Samson',
          title: 'CO-FOUNDER & CCO',
          socialLinks: [
            {
              icon: 'fab fa-twitter',
              title: 'Twitter',
              link: 'https://twitter.com/frissionmedia'
            },
            {
              icon: 'fab fa-instagram',
              title: 'Instagram',
              link: 'https://www.instagram.com/biggullyben/'
            },
            {
              icon: 'fab fa-linkedin',
              title: 'LinkedIn',
              link: 'https://www.linkedin.com/in/bensampson/'
            }
          ]
        }
      ]
    }
  }
}
</script>

<style lang="scss">
#project-management-resources section.workshop-hero {
  // padding: 0;
  height: auto;
  .hero-header {
    font-size: 36px;
  }
  .workshop-card {
    display: flex;
    flex-flow: column nowrap;
    // text-align: left;
    // justify-content: center;
    align-items: center;
    align-content: center;
    .card-subheader {
      font-size: 20px;
    }
    .v-card__text {
      width: 100%;
      text-align: center;
      padding: 0;
    }
    .price {
      font-size: 36px;
      font-weight: 600;
    }
  }
}

.outline {
  li {
    // font-size: 100%;
    font-weight: lighter;
    margin-bottom: 6px;
  }
  li.no-style {
    list-style-type: none;
  }
}
.illustration {
  width: 280px;
  height: auto;
  margin: 10px;
}
</style>
