<template>
  <v-form ref="form" v-model="valid" dark lazy-validation>
    <v-text-field
      v-model="name"
      :rules="nameRules"
      label="Your Name"
      required
      dark
      outline
    ></v-text-field>
    <v-text-field
      v-model="emailaddress"
      :rules="emailRules"
      label="E-mail"
      required
      dark
      outline
    ></v-text-field>
    <v-textarea
      v-model="message"
      label="Your Message"
      dark
      outline
    ></v-textarea>
    <v-layout justify-end>
      <v-alert :value="postSuccessful" type="success">
        Your message was sent. Thanks for getting in contact.
      </v-alert>
      <v-alert :value="apiErrored" type="error">
        Ups... The message was not send. Try our Social Media channells
      </v-alert>
      <v-spacer></v-spacer>
      <v-btn class="mr-0" outline dark :disabled="!valid" @click="submit">
        send
      </v-btn>
    </v-layout>
  </v-form>
</template>

<script>
import firebase from '../config/firebaseConfig'
const db = firebase.firestore()
export default {
  data() {
    return {
      valid: false,
      name: '',
      nameRules: [v => !!v || 'Name is required'],
      emailaddress: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      message: '',
      checkbox: true,
      postSuccessful: false,
      apiErrored: false,
      apiError: ''
    }
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        const self = this
        // Send the info somewhere
        db.collection('messages')
          .add({
            name: self.name,
            emailaddress: self.emailaddress,
            message: self.message
          })
          .then(() => {
            self.postSuccessful = true
          })
          .catch(e => {
            self.apiError = e.statusText
            self.apiErrored = true
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
