<template>
  <v-card dark hover raised class="gradient-bg ma-3" max-width="360px">
    <v-card-title primary-title class="pt-3">
      <div>
        <div class="headline">{{ title }}</div>
        <span class="card-subheader">
          <v-icon dark small class="mr-2">
            far fa-calendar-alt
          </v-icon>
          {{ date }}
        </span>
      </div>
    </v-card-title>
    <v-img :src="image"></v-img>
    <v-card-text class="">
      <p>{{ description }}</p>
    </v-card-text>
    <v-divider dark></v-divider>
    <v-card-actions>
      <v-btn
        v-for="item in socialLinks"
        :key="item.title"
        :href="item.link"
        class="mx-1"
        dark
        icon
        target="_blank"
      >
        <v-icon size="20px">{{ item.icon }}</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'HblEventCard',
  props: {
    title: {
      type: String,
      required: true
    },
    date: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    socialLinks: {
      type: Array,
      required: false,
      default: () => ['https://humanbeyondlabs.com']
    }
  }
}
</script>

<style lang="scss" scoped>
.headline {
  font-size: 16px;
}
</style>
