<template>
  <v-card dark hover class="gradient-bg-inverted ma-3" max-width="420px">
    <v-card-text class="text-xs-center pb-0">
      <v-avatar size="128">
        <img :src="image" width="auto" height="auto" :alt="name" />
      </v-avatar>
    </v-card-text>
    <v-card-title class="layout justify-center pb-0">
      <div class="text-xs-center">
        <p class="mb-1">{{ name }}</p>
        <h5 class="subheader">{{ title }}</h5>
      </div>
    </v-card-title>
    <v-card-text>
      <p>{{ description }}</p>
      <v-btn
        v-for="item in socialLinks"
        :key="item.title"
        :href="item.link"
        target="_blank"
        class="mx-1"
        dark
        icon
      >
        <v-icon size="20px">{{ item.icon }}</v-icon>
      </v-btn>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'HblProfileCard',
  props: {
    image: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    socialLinks: {
      type: Array,
      required: false,
      default: () => ['http://humanbeyondlabs.com']
    }
  }
}
</script>

<style lang="scss" scoped>
.v-card {
  padding: 30px;
}
</style>
