<template>
  <!-- <v-parallax :src="images.milkyway" height="auto"> -->
  <!-- <section class="magenta-overlay"> -->
  <section class="gradient-bg-inverted">
    <v-layout column class="pa-3">
      <v-flex class="px-3 mb-2">
        <h2 class="main-header text-xs-center mb-5">Upcoming Workshops</h2>
      </v-flex>
      <v-layout justify-space-around row wrap>
        <hbl-workshop-card
          v-for="workshop in workshops"
          :key="workshop.title"
          :title="workshop.title"
          :date="workshop.date"
          :image="workshop.image"
          :description="workshop.description"
          :link="workshop.link"
        >
        </hbl-workshop-card>
      </v-layout>
    </v-layout>
  </section>
  <!-- </v-parallax> -->
</template>

<script>
import HblWorkshopCard from '@/components/HblWorkshopCard'
import milkyway from '@/assets/images/backgrounds/milky_way.jpg'
import magentaForestRoad from '@/assets/images/backgrounds/magenta_forest_road.jpg'
import ligthRoad from '@/assets/images/backgrounds/light_on_the_road.jpg'
// import cenitalForest from '@/assets/images/backgrounds/cenital_forest.jpg'
export default {
  components: {
    HblWorkshopCard
  },
  data() {
    return {
      images: {
        milkyway,
        magentaForestRoad
      },
      workshops: [
        {
          image: magentaForestRoad,
          title: 'Project Management - Mind Hacks & Methodology',
          date: 'July 3th, 2019',
          description:
            'Can you imagine breaking free from bad habits and knowing exactly how to achieve your goals? How does it sound to achieve more in the next few months of your life than you have in the past year?',
          link: '/workshops/project-management'
        },
        {
          image: ligthRoad,
          title: 'Introduction to Generative Art',
          date: 'TBA',
          description:
            'Explore your creativity through code, procedurally generated graphics and a bit of randomness',
          link: ''
        }
      ]
    }
  }
}
</script>

<style lang="css"></style>
