<template>
  <v-card dark hover raised class="transparent ma-3" max-width="360px">
    <v-card-title primary-title class="pt-3">
      <div>
        <div class="headline">{{ title }}</div>
        <span class="card-subheader">
          <v-icon dark small class="mr-2">
            far fa-calendar-alt
          </v-icon>
          {{ date }}
        </span>
      </div>
    </v-card-title>
    <v-img :src="image"></v-img>
    <v-card-text class="">
      <p>{{ description }}</p>
    </v-card-text>
    <v-card-actions>
      <v-btn :to="link" class="ma-2" round dark outline>
        Read More
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'HblWorkshopCard',
  props: {
    title: {
      type: String,
      required: true
    },
    date: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    link: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.headline {
  font-size: 16px;
}
</style>
