html {
  font-size: 20px;
  p {
    font-weight: 300;
  }
  strong {
    font-weight: 500;
  }
  blockquote {
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
  }
  .full-height { height: 100vh; }
  .v-btn--round { border-radius: 10px; }

  .main-header {
    font-size: 36px;
    font-weight: 800;
  }
  .headline {
    font-weight: 600;
  }
  .hero-header {
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  .hero-subheader {
    font-weight: 300;
    @media only screen and (min-width: 640px) {
      font-size: 24px;
    }
  }
  .v-alert {
    border-radius: 10px;
    padding: 8px;
  }
}
.magenta-overlay.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(109, 0, 120, 0.4);
}
section {
  height: 100%;
  padding: 5%;
  &.opaque {
    background-color: rgba(0, 0, 0, .35);
  }
  &.magenta-overlay {
    background-color: rgba(109, 0, 120, 0.4);
  }
  &.hero {
    @media only screen and (min-width: 640px) {
      height: 66vh;
    }
    .layout {
      height: 100%;
    }
  }
  &.hero-full-height {
    @media only screen and (min-width: 664px) {
      height: 94vh;
      .layout { height: 100%; }
    }
  }
  &.parallax-inner {
    height: 100%;
    padding: 5%;
    box-shadow: 0 0px 10px 2px #2d005a80;
    &:not(:last-child) {
      margin-bottom: 100px
    }
  }
}
.container {
  padding: 0;
}

.base-gradient {

}
.primary-bg {
  background-color: var(--v-primary-base);
  color: white;
}
.v-parallax__content {
  padding: 0;
}
.gradient-bg {
  background-image: linear-gradient(to right bottom, #e91e63, #e5007c, #4c00b4);
  color: white;
}
.gradient-bg-y-inverted {
  background-image: linear-gradient(to right top, #e91e63, #e5007c, #4c00b4);
  color: white;
}
.gradient-bg-inverted {
  background-image: linear-gradient(to left top, #e91e63, #e5007c, #4c00b4);
  color: white;
}
hr.v-divider {
  border: 1px solid white;
}
.v-card {
  border-radius: 15px;
  height: fit-content;
  .card-subheader {
    font-weight: 300;
    font-size: 14px;
  }
  .v-card__actions {
    justify-content: flex-end;
  }
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}

// Form Styles
.v-input {
  font-size: 20px;
}
.v-textarea textarea {
  line-height: 1.4;
}
.v-label {
  font-size: 20px;
  min-height: 20px;
}
.v-text-field {
  padding-top: 20px;
  margin-top: 10px;
}
.v-text-field input {
  padding: 22px 0 22px;
}
.v-text-field--outline > .v-input__control > .v-input__slot {
  background: rgba(109, 0, 120, 0.15) !important;
  border-radius: 8px;
}
