<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      persistent
      :width="250"
      right
      class="main-nav grey darken-4"
      dark
      temporary
      enable-resize-watcher
      floating
      fixed
      app
    >
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          value="true"
          :to="{ path: item.path }"
        >
          <v-list-tile-action>
            <v-icon size="22px" v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
        <div class="text-xs-center">
          <v-btn
            v-for="item in footerItems"
            :key="item.title"
            :href="item.link"
            class="mx-3"
            dark
            icon
            target="_blank"
          >
            <v-icon size="22px">{{ item.icon }}</v-icon>
          </v-btn>
        </div>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar class="gradient-bg-y-inverted top-bar" dark app>
      <v-toolbar-title class="headline text-uppercase">
        <router-link to="/">
          <span class="logo"><img :src="logo" alt="Human Beyond Labs"/></span>
          <span class="logo-headline font-weight-light white--text">{{
            title
          }}</span>
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-side-icon
        dark
        @click.stop="drawer = !drawer"
      ></v-toolbar-side-icon>
    </v-toolbar>

    <v-content>
      <nuxt />
    </v-content>

    <v-footer dark color="grey darken-4" class="pa-2" height="40px">
      <span class="body-1">&copy; 2019 - Human Beyond Labs</span>

      <v-spacer></v-spacer>

      <v-btn
        v-for="item in footerItems"
        :key="item.title"
        :href="item.link"
        target="_blank"
        class="mx-1"
        dark
        icon
      >
        <v-icon size="18px">{{ item.icon }}</v-icon>
      </v-btn>
      <!-- <CookieControl/> -->
    </v-footer>
  </v-app>
</template>

<script>
import logo from '@/assets/images/logo.svg'
export default {
  data() {
    return {
      logo,
      drawer: false,
      title: 'Human Beyond Labs',
      items: [
        {
          icon: 'fas fa-home',
          title: 'HOME',
          path: '/'
        },
        {
          icon: 'fas fa-users',
          title: 'ABOUT',
          path: '/about'
        },
        {
          icon: 'fas fa-dice-d20',
          title: 'SERVICES',
          path: '/services'
        },
        {
          icon: 'fas fa-tools',
          title: 'WORKSHOPS',
          path: '/workshops'
        },
        {
          icon: 'fas fa-code',
          title: 'DIGITAL ART',
          path: '/digital-art'
        },
        {
          icon: 'fas fa-envelope',
          title: 'CONTACT',
          path: '/contact'
        }
      ],
      footerItems: [
        {
          icon: 'fab fa-facebook',
          title: 'Facebook',
          link: 'https://www.facebook.com/humanbeyondlabs/'
        },
        {
          icon: 'fab fa-twitter',
          title: 'Twitter',
          link: 'https://twitter.com/humanbeyondlabs'
        },
        {
          icon: 'fab fa-instagram',
          title: 'Instagram',
          link: 'https://instagram.com/humanbeyondlabs'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
html {
  font-size: 20px;
  p {
    font-weight: 300;
  }
  strong {
    font-weight: 500;
  }
  blockquote {
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
  }
  .full-height {
    height: 100vh;
  }
  .v-btn--round {
    border-radius: 10px;
  }

  .main-header {
    font-size: 36px;
    font-weight: 800;
  }
  .headline {
    font-weight: 600;
  }
  .hero-header {
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  .hero-subheader {
    font-weight: 300;
    @media only screen and (min-width: 640px) {
      font-size: 24px;
    }
  }
  .v-alert {
    border-radius: 10px;
    padding: 8px;
  }
  .logo-headline {
    font-size: 20px;
  }
}
.magenta-overlay.overlay:before {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(109, 0, 120, 0.4);
}
section {
  height: 100%;
  padding: 5%;
  &.opaque {
    background-color: rgba(0, 0, 0, 0.35);
  }
  &.magenta-overlay {
    background-color: rgba(109, 0, 120, 0.4);
  }
  &.hero {
    @media only screen and (min-width: 640px) {
      height: 66vh;
    }
    .layout {
      height: 100%;
    }
  }
  &.hero-full-height {
    @media only screen and (min-width: 664px) {
      height: 94vh;
      .layout {
        height: 100%;
      }
    }
  }
  &.parallax-inner {
    height: 100%;
    padding: 5%;
    box-shadow: 0 0px 10px 2px #2d005a80;
    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }
}
body .container,
body .v-parallax__content {
  padding: 0;
}
.base-gradient {
}
.primary-bg {
  background-color: var(--v-primary-base);
  color: white;
}
.gradient-bg {
  background-image: linear-gradient(to right bottom, #e91e63, #e5007c, #4c00b4);
  color: white;
}
.gradient-bg-y-inverted {
  background-image: linear-gradient(to right top, #e91e63, #e5007c, #4c00b4);
  color: white;
}
.gradient-bg-inverted {
  background-image: linear-gradient(to left top, #e91e63, #e5007c, #4c00b4);
  color: white;
}
hr.v-divider {
  border: 1px solid white;
}
.v-card {
  border-radius: 15px;
  height: fit-content;
  .card-subheader {
    font-weight: 300;
    font-size: 14px;
  }
  .v-card__actions {
    justify-content: flex-end;
  }
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}

// Form Styles
.v-input {
  font-size: 20px;
}
.v-textarea textarea {
  line-height: 1.4;
}
.v-label {
  font-size: 20px;
  min-height: 20px;
}
.v-text-field {
  padding-top: 20px;
  margin-top: 10px;
}
.v-text-field input {
  padding: 22px 0 22px;
}
.v-text-field--outline > .v-input__control > .v-input__slot {
  background: rgba(109, 0, 120, 0.15) !important;
  border-radius: 8px;
}

.top-bar .v-toolbar__title a {
  text-decoration: none;
}
.logo img {
  height: 42px;
  vertical-align: middle;
}
.main-nav a.v-list__tile {
  margin: 10px 0;
  .v-list__tile__action {
    justify-content: center;
  }
  .v-list__tile__title {
    font-size: 20px;
    color: white;
    font-weight: 400;
  }
}
</style>
