<template>
  <v-container id="about" fluid>
    <v-parallax :src="images.treeForest">
      <section class="magenta-overlay">
        <v-layout align-center justify-start>
          <v-flex xs12 md6 class="px-3 mb-2">
            <h1 class="hero-header">About Us</h1>
            <p class="hero-subheader">
              We are an <strong>AI software development</strong> &
              <strong>digital art</strong> studio
            </p>
          </v-flex>
        </v-layout>
      </section>
    </v-parallax>

    <section class="gradient-bg">
      <v-layout row wrap class="pa-3">
        <v-flex xs12 md6 class="px-3">
          <p>
            We explore the intersection of cutting edge technology and human
            expression; combining <strong>web technologies</strong>,
            <strong>artificial intelligence</strong>, and
            <strong>digital art</strong>.
          </p>
          <p>
            Machine interactions have become ubiquitous and they are taking
            bigger roles in our lives. New Human-Machine interfaces have the
            potential to expand our capabilities as humans and provide new
            channels for creative expression.
          </p>
        </v-flex>
        <v-flex xs12 md6 class="px-3">
          <p>
            Our mission as developers and artists is to make
            <strong>conscious decisions</strong> on each step of the development
            process in order to advance new technologies in a direction where
            they can help us expand as human beings.
          </p>
          <p>
            We are part of a big
            <strong
              >community of conscious scientists, engineers and artists</strong
            >
            that are coming together to humbly share their expertise and work
            together.
          </p>
        </v-flex>
      </v-layout>
    </section>

    <v-parallax :src="images.milkyway" height="auto">
      <section class="magenta-overlay">
        <v-layout column wrap align-center>
          <v-flex xs12 class="px-3 mb-5">
            <div class="text-xs-center">
              <h2 class="main-header mb-4">The Humans</h2>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout justify-space-around row wrap>
                <hbl-profile-card
                  v-for="human in humans"
                  :key="human.name"
                  :image="human.image"
                  :name="human.name"
                  :title="human.title"
                  :socialLinks="human.socialLinks"
                >
                </hbl-profile-card>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>
    </v-parallax>
  </v-container>
</template>

<script>
import HblProfileCard from '@/components/HblProfileCard'
import ramiroProfile from '@/assets/images/profiles/ramiro.jpg'
import sabrinaProfile from '@/assets/images/profiles/sabrina.jpg'
import benProfile from '@/assets/images/profiles/ben.jpg'
import treeForest from '@/assets/images/backgrounds/tree_in_the_forest.jpg'
import mountainBackground from '@/assets/images/backgrounds/magenta_mountainrange.jpg'
import milkyway from '@/assets/images/backgrounds/milky_way.jpg'
export default {
  components: {
    HblProfileCard
  },
  head() {
    return {
      title: 'About - Human Beyond Labs',
      meta: [
        {
          hid: `description`,
          name: 'description',
          content:
            'We explore the intersection of cutting edge technology and human expression; combining Web Technologies, Artificial Intelligence, and Digital Art.'
        },
        {
          hid: `keywords`,
          name: 'keywords',
          keywords:
            'ai, machine learning, community, art, digital art, data science, new generation, data scientists, agency, studio, software development'
        }
      ]
    }
  },
  asyncData() {
    return {
      images: {
        mountainBackground,
        milkyway,
        treeForest
      },
      humans: [
        {
          name: 'Sabrina Tolmer',
          image: sabrinaProfile,
          title: 'CO-FOUNDER',
          socialLinks: [
            {
              icon: 'fab fa-twitter',
              title: 'Twitter',
              link: 'https://twitter.com/iamwayra'
            },
            {
              icon: 'fab fa-instagram',
              title: 'Instagram',
              link: 'https://www.instagram.com/iamwayra/'
            },
            {
              icon: 'fab fa-linkedin',
              title: 'LinkedIn',
              link: 'https://www.linkedin.com/in/sabrina-tolmer-819426126/'
            }
          ]
        },
        {
          name: 'Ben Sampsom',
          title: 'CO-FOUNDER',
          image: benProfile,
          socialLinks: [
            {
              icon: 'fab fa-twitter',
              title: 'Twitter',
              link: 'https://twitter.com/frissionmedia'
            },
            {
              icon: 'fab fa-instagram',
              title: 'Instagram',
              link: 'https://www.instagram.com/biggullyben/'
            },
            {
              icon: 'fab fa-linkedin',
              title: 'LinkedIn',
              link: 'https://www.linkedin.com/in/bensampson/'
            }
          ]
        },
        {
          name: 'Ramiro Ramirez',
          title: 'CO-FOUNDER',
          image: ramiroProfile,
          socialLinks: [
            {
              icon: 'fab fa-twitter',
              title: 'Twitter',
              link: 'https://twitter.com/eco_virtual'
            },
            {
              icon: 'fab fa-instagram',
              title: 'Instagram',
              link: 'https://www.instagram.com/ecovirtual/'
            },
            {
              icon: 'fab fa-linkedin',
              title: 'LinkedIn',
              link: 'https://www.linkedin.com/in/ramirezramiro/'
            }
          ]
        }
      ]
    }
  }
}
</script>

<style lang="scss"></style>
