<template>
  <v-container id="contact" fluid>
    <v-parallax :src="images.earthLights" height="auto">
      <!-- <vue-particles
        color="#fefefe"
        :particleOpacity="0.7"
        :particlesNumber="50"
        shapeType="circle"
        :particleSize="6"
        linesColor="#fefefe"
        :linesWidth="1"
        :lineLinked="true"
        :lineOpacity="0.4"
        :linesDistance="200"
        :moveSpeed="2"
        :hoverEffect="true"
        hoverMode="grab"
        :clickEffect="true"
        clickMode="push"
      ></vue-particles> -->
      <section class="magenta-overlay hero">
        <v-layout column align-content-center>
          <v-layout row wrap align-start justify-start>
            <v-flex xs12 md6 class="px-4 mb-4">
              <p class="hero-subheader">
                Are you looking for a partner to develop meaningful interactive
                experiences?
              </p>
              <p class="hero-subheader">
                Curious about our workshops?
              </p>
              <p class="hero-subheader">
                Drop us a line!
              </p>
              <v-btn
                v-for="item in socialLinks"
                :key="item.title"
                :href="item.link"
                target="_blank"
                class="mx-3"
                dark
                icon
              >
                <v-icon size="36px">{{ item.icon }}</v-icon>
              </v-btn>
            </v-flex>
            <v-flex xs12 md6 class="px-4 mb-2">
              <hbl-contact-form></hbl-contact-form>
            </v-flex>
          </v-layout>
        </v-layout>
      </section>
    </v-parallax>
  </v-container>
</template>

<script>
import earthLights from '@/assets/images/backgrounds/earth_lights.jpg'
import HblContactForm from '@/components/HblContactForm'
export default {
  components: {
    HblContactForm
  },
  head() {
    return {
      title: 'Contact - Human Beyond Labs',
      meta: [
        {
          hid: `description`,
          name: 'description',
          content:
            "Interested in the world of creative AI? Drop us a line and we'l get in contact with you. "
        }
      ]
    }
  },
  data() {
    return {
      images: {
        earthLights
      },
      socialLinks: [
        {
          icon: 'fab fa-facebook',
          title: 'Facebook',
          link: 'https://www.facebook.com/humanbeyondlabs/'
        },
        {
          icon: 'fab fa-twitter',
          title: 'Twitter',
          link: 'https://twitter.com/humanbeyondlabs'
        },
        {
          icon: 'fab fa-instagram',
          title: 'Instagram',
          link: 'https://instagram.com/humanbeyondlabs'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
#contact section.hero {
  // z-index: 1;
  @media only screen and (min-width: 640px) {
    height: 99vh;
  }
}
</style>
