<template>
  <v-container id="digital-art" fluid>
    <v-parallax :src="images.sparks">
      <section class="magenta-overlay">
        <v-layout align-center justify-start>
          <v-flex xs12 md10 class="px-3 mb-2">
            <h1 class="hero-header">Digital Art</h1>
            <p class="hero-subheader">
              We explore and develop new links between
              <strong
                >creative human expression & artificial intelligence</strong
              >
            </p>
          </v-flex>
        </v-layout>
      </section>
    </v-parallax>

    <section class="gradient-bg">
      <v-layout row wrap class="pa-3">
        <v-flex xs12 md6 class="px-3">
          <p>
            New technology is having an increasing impact in our daily lives:
            the way we relate to others, how we access information, how we
            express our ideas and feelings.
          </p>
        </v-flex>
        <v-flex xs12 md6 class="px-3">
          <p>
            We explore the broad field of <strong>generative art</strong> and
            new ways of <strong>self-expression</strong> through the conscious
            use of new technologies.
          </p>
        </v-flex>
      </v-layout>
    </section>

    <v-parallax :src="images.forest" height="auto">
      <section class="magenta-overlay">
        <div class="text-xs-center ma-5">
          <h2 class="main-header mb-4">Previous Projects</h2>
        </div>
        <v-layout justify-space-around row wrap>
          <hbl-event-card
            v-for="event in events"
            :key="event.title"
            :title="event.title"
            :date="event.date"
            :image="event.image"
            :description="event.description"
            :socialLinks="event.socialLinks"
          >
          </hbl-event-card>
        </v-layout>
      </section>
    </v-parallax>
  </v-container>
</template>

<script>
import HblEventCard from '@/components/HblEventCard'
import horizoneSingularidadImage from '@/assets/images/digital-art/horizonte_singularidad_2.jpg'
import instanteSingularidadImage from '@/assets/images/digital-art/instante_singularidad.jpg'
import sparks from '@/assets/images/backgrounds/mirror_sparks.jpg'
import forest from '@/assets/images/backgrounds/cenital_magenta_forest.jpg'
export default {
  components: {
    HblEventCard
  },
  head() {
    return {
      title: 'Digital Art - Human Beyond Labs',
      meta: [
        {
          hid: `description`,
          name: 'description',
          content:
            'We explore the broad field of Generative Art and new ways of self-expression through the conscious use of new technologies.'
        },
        {
          hid: `keywords`,
          name: 'keywords',
          keywords:
            'ai, machine learning, interactivity, digital art, interactive art, generative art, interactive instalation, creative coding, immersive experience'
        }
      ]
    }
  },
  data() {
    return {
      images: {
        sparks,
        forest,
        horizoneSingularidadImage,
        instanteSingularidadImage
      },
      events: [
        {
          image: instanteSingularidadImage,
          title: 'Instante de Singularidad',
          date: '14th September, 2017',
          description:
            'A short piece of contemporary art presented as an immersive scene that includes interactive components of dance, music, olfactory art and image design.',
          socialLinks: [
            {
              icon: 'fab fa-instagram',
              title: 'Instagram',
              link: 'https://www.instagram.com/explore/tags/consumovisuales/'
            }
          ]
        },
        {
          image: horizoneSingularidadImage,
          title: 'Horizonte de Singularidad',
          date: '14th December, 2017 / 24th November, 2018',
          description:
            'An interactive contemporary dance piece in seven acts. Set in a multisensorial landscape, where music, dance, fragrances and interactive projections dialogue with invisible narratives that stimulates the imagination to observe the best human potentialities.',
          socialLinks: [
            {
              icon: 'fab fa-facebook',
              title: 'Facebook',
              link: 'https://www.facebook.com/opentodo/'
            }
          ]
        }
      ]
    }
  }
}
</script>

<style lang="scss"></style>
