<template>
  <v-container id="homepage" fluid>
    <v-parallax :src="images.polarSky">
      <!-- <vue-particles
        color="#fefefe"
        :particleOpacity="0.7"
        :particlesNumber="50"
        shapeType="circle"
        :particleSize="6"
        linesColor="#fefefe"
        :linesWidth="1"
        :lineLinked="true"
        :lineOpacity="0.4"
        :linesDistance="200"
        :moveSpeed="2"
        :hoverEffect="true"
        hoverMode="grab"
        :clickEffect="true"
        clickMode="push"
      ></vue-particles> -->
      <section class="hero-full-height magenta-overlay">
        <v-layout align-center class="full-height">
          <v-flex xs12 class="pa-2">
            <p class="hero-subheader text-xs-center display-3">
              <span class="font-weight-bold text-uppercase"
                >AI Craftsmanship</span
              >
              Studio
            </p>
          </v-flex>
        </v-layout>
      </section>
    </v-parallax>

    <section class="gradient-bg text-xs-center">
      <v-layout wrap class="py-4">
        <!-- <v-flex class="px-4 mb-2">
          <v-icon dark size="42" class="mb-4">fas fa-code</v-icon>
          <h3>Web App Development</h3>
          <p>
            Machine Learning & Data Analysis tools
          </p>
          <p>
            <v-btn outline dark to="/services">Innovate</v-btn>
          </p>
        </v-flex> -->
        <v-flex class="px-4 mb-2">
          <v-icon dark size="42" class="mb-4">fas fa-dice-d20</v-icon>
          <h3>Workshops</h3>
          <p>
            Explore and update your creative and management skills
          </p>
          <p></p>
          <p>
            <v-btn outline dark to="/workshops">Learn</v-btn>
          </p>
        </v-flex>
        <v-flex class="px-4">
          <v-icon dark size="42" class="mb-4">fas fa-diagnoses</v-icon>
          <h3>Digital Art</h3>
          <p>We craft meaningful interactive experiences</p>
          <p>
            <v-btn outline dark to="/digital-art">
              Explore
            </v-btn>
          </p>
        </v-flex>
      </v-layout>
    </section>

    <hbl-upcoming-workshops></hbl-upcoming-workshops>
  </v-container>
</template>

<script>
import HblUpcomingWorkshops from '@/components/HblUpcomingWorkshops'
import polarSky from '@/assets/images/backgrounds/polar_night_sky.jpg'
import milkyway from '@/assets/images/backgrounds/milky_way.jpg'

export default {
  components: {
    HblUpcomingWorkshops
  },
  asyncData() {
    return {
      images: {
        polarSky,
        milkyway
      }
    }
  }
}
</script>

<style lang="scss">
#homepage {
  .v-parallax .v-parallax__image-container {
    top: -10%;
  }
  .hero-subheader {
    text-shadow: 1px 2px 3px #333;
  }
  @media screen and (max-width: 550px) {
    .hero-subheader.display-3 {
      font-size: 42px !important;
    }
  }
}
</style>
