<template>
  <v-container id="services" fluid>
    <v-parallax :src="images.lightInForest">
      <section class="header magenta-overlay">
        <v-layout align-center justify-start>
          <v-flex xs12 md8 class="px-3 mb-2">
            <h1 class="hero-header">Services</h1>
            <!-- <p class="hero-subheader">
              We collaborate with you and your team to help in the transition to
              become an <strong>intelligent conscious organization</strong>.
            </p> -->
          </v-flex>
        </v-layout>
      </section>
    </v-parallax>

    <v-parallax :src="images.lightInForest" height="100%" class="services">
      <section class="gradient-bg parallax-inner">
        <v-layout column align-content-center class="pa-3">
          <v-flex class="px-3">
            <h2 class="main-header mb-4">Consultancy</h2>
          </v-flex>
          <v-layout row wrap align-start justify-start>
            <v-flex xs12 md6 class="px-3 mb-2">
              <p>
                AI tools are like none other in the sense that require a shift
                in the way we think about problem solving.
              </p>
              <p>
                New challenges require a reformulation of team dynamics;
                interdisciplinary agile teams are more capable of tackling
                complex problems.
              </p>
            </v-flex>
            <v-flex xs12 md6 class="px-3 mb-2">
              <p>
                By providing clear models for teams to adopt Machine Learning
                and Data Analysis tools we help Organizations, Entrepreneurs and
                Creatives to innovate and thrive.
              </p>
              <p>
                We can collaborate with you in the design of a solution for your
                mission critical challenges.
              </p>
            </v-flex>
          </v-layout>
        </v-layout>
      </section>

      <section class="gradient-bg-y-inverted parallax-inner">
        <v-layout column align-content-center class="pa-3">
          <v-flex class="px-3">
            <h2 class="main-header mb-4">Workshops</h2>
          </v-flex>
          <v-layout row wrap align-start justify-start>
            <v-flex xs12 md6 class="px-3 mb-2">
              <p>
                We're very passionate about what we do and always eager to share
                what we've learned.
              </p>
              <p>
                Picking up new skills should be a joyful experience. We are
                committed to provide a clear roadmap for you to explore new
                horizons.
              </p>
            </v-flex>
            <v-flex xs12 md6 class="px-3 mb-2 text-xs-center">
              <p>
                <v-btn class="mr-0" outline dark to="/workshops">
                  Checkout our Workshops
                </v-btn>
              </p>
            </v-flex>
          </v-layout>
        </v-layout>
      </section>

      <section class="gradient-bg parallax-inner">
        <v-layout column align-content-center class="pa-3">
          <v-flex class="px-3">
            <h2 class="main-header mb-4">Digital Art</h2>
          </v-flex>
          <v-layout row wrap align-start justify-start>
            <v-flex xs12 md6 class="px-3 mb-2">
              <p>
                We craft <strong>meaningful interactive experiences</strong>.
              </p>
              <p>
                Let's collaborate and create together.
              </p>
            </v-flex>
            <v-flex xs12 md6 class="px-3 mb-2 text-xs-center">
              <p>
                <v-btn class="mr-0" outline dark to="/digital-art">
                  Explore
                </v-btn>
              </p>
            </v-flex>
          </v-layout>
        </v-layout>
      </section>
    </v-parallax>
  </v-container>
</template>

<script>
import lightInForest from '@/assets/images/backgrounds/light_in_the_forest.jpg'
import polarSky from '@/assets/images/backgrounds/polar_night_sky.jpg'
export default {
  components: {},
  head() {
    return {
      title: 'Services - Human Beyond Labs',
      meta: [
        {
          hid: `description`,
          name: 'description',
          content:
            'AI tools are like none other in the sense that they require a shift in the way we think about problem solving. New challenges require a reformulation of team dynamics; interdisciplinary agile teams are more capable of tackling complex problems.'
        }
      ]
    }
  },
  data() {
    return {
      images: {
        lightInForest,
        polarSky
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.services .v-parallax__content {
  background-color: rgba(109, 0, 120, 0.4);
}
#services section.header {
  margin-bottom: 0;
}
#services section {
  margin-bottom: 32px;
}
</style>
