<template>
  <v-container id="workshops" fluid>
    <v-parallax :src="images.mountainPeak" heigh="600">
      <section class="magenta-overlay">
        <v-layout align-center justify-start>
          <v-flex xs12 md6 class="px-3 mb-2">
            <h1 class="hero-header">Workshops</h1>
            <p class="hero-subheader">
              As a team of multidisciplinary creatives our natural strengths are in integrating knowledge from different fields, exploring new possibilities and embracing new points of view. We are very passionate about the techniques and tools that we use in our daily lives. And we know how hard is for creatives to stay creative and thrive.
            </p>
          </v-flex>
          <v-flex xs12 md6 class="px-3 mb-2">
            <p class="hero-subheader">
              Our workshops are designed for you to immediately get hands-on with the topic. These are not lectures but real experiences that transform your understanding of the subject. We won't give you closed answers and magic recipes, but accompany you on the process of experimenting with something new for yourself. The same way we experimented ourselves but with a clear learning path and fewer headaches and roadblocks.
            </p>
          </v-flex>
        </v-layout>
      </section>
    </v-parallax>
    <hbl-upcoming-workshops></hbl-upcoming-workshops>
  </v-container>
</template>

<script>
import HblUpcomingWorkshops from '@/components/HblUpcomingWorkshops'
import mountainPeak from '@/assets/images/backgrounds/mountain_peak.jpg'

export default {
  components: {
    HblUpcomingWorkshops
  },
  head() {
    return {
      title: 'Workshops - Human Beyond Labs',
      meta: [
        {
          hid: `description`,
          name: 'description',
          content:
            'A place to channel your creative energy into exploration and development of your ideas and projects. Checkout our workshops for creative entrepreneurs and activists.'
        },
        {
          hid: `keywords`,
          name: 'keywords',
          keywords:
            'ai, machine learning, community, art, artist, digital art, data science, new generation, data science, data scientists, software development, project management, entrepreneurs, workshops, courses, webinars, meetup, cratives'
        }
      ]
    }
  },
  data() {
    return {
      images: {
        mountainPeak
      }
    }
  }
}
</script>

<style lang="scss">
#workshops .v-parallax__image {
  // bottom: -30%;
}
</style>
