<template>
  <v-container id="project-management" fluid>
    <v-parallax :src="images.magentaForestRoad">
      <section class="header magenta-overlay workshop-hero">
        <v-layout row wrap align-center justify-content-center>
          <v-flex xs12 md6 class="pa-4">
            <h1 class="hero-header">{{ workshop.title }}</h1>
            <p class="hero-subheader">
              Project management fundamentals and mind hacks for creatives,
              entrepreneurs and disruptors.
            </p>
          </v-flex>
          <v-flex xs12 md6 class="pa-4">
            <v-card dark class="gradient-bg workshop-card py-3" max-width="280">
              <v-card-title primary-title class="">
                <div>
                  <p>
                    <span class="card-subheader">
                      <v-icon dark class="mr-2">
                        far fa-calendar-alt
                      </v-icon>
                      {{ workshop.date }}
                    </span>
                  </p>
                  <p>
                    <span class="card-subheader">
                      <v-icon dark class="mr-2">
                        fas fa-map-marker-alt
                      </v-icon>
                      {{ workshop.location }} <br />
                      {{ workshop.address }}
                    </span>
                  </p>
                  <p>
                    <span class="card-subheader">
                      <v-icon dark class="mr-2">
                        fas fa-bookmark
                      </v-icon>
                      {{ workshop.time }}
                    </span>
                  </p>
                </div>
              </v-card-title>
              <v-card-text class="">
                <p>
                  <span class="price">{{ workshop.price }}</span>
                </p>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  large
                  :href="workshop.link"
                  target="_blank"
                  class="ma-2"
                  round
                  dark
                  outline
                >
                  BOOK NOW
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </section>
    </v-parallax>

    <section class="gradient-bg">
      <v-layout row wrap class="pa-4">
        <v-flex xs12 class="px-4">
          <h2 class="main-header mb-2">About the Workshop</h2>
        </v-flex>
        <v-flex xs12 md6 class="px-4">
          <p>
            Can you imagine <strong>breaking free from bad habits</strong> and knowing exactly
            how to achieve your goals?
          </p>
          <p>
            How does it sound to achieve more in the next few months of your
            life than you have in the past year?
          </p>
          <p>
            In this workshop you will get <strong>hands-on with agile project management
            tools and methodologies</strong>. You'll get familiar with a framework that
            you can <strong>use on any project</strong> (even your daily life). Whether you’re
            working on an art piece, a community event, or your own business,
            this workshop will help you to plan ahead, bring the big picture
            into focus, and make better use of all the resources you already
            have available.
          </p>
          <p>
            <strong>Do you find it difficult to stay on top of the endless tasks, schedules and moving pieces of your project?</strong>
          </p>
          <p>
            <strong>Does peeking at your to-do list make you retreat to the safety of mindless browsing over Instagram and YouTube?<strong>
          </p>
        </v-flex>
        <v-flex xs12 md6 class="px-4">
          <p>
            These struggles are much more common than you might think. Project
            management doesn't always come naturally to creative people. In
            trying to cope with the information overload of our modern lives,
            our brain chemistry develops and reinforces bad habits, which drain
            a much larger amount of our limited daily supply of energy than most
            people realize.
          </p>
          <p>
            Around <strong>20% of people on Earth are chronic procrastinators</strong>. That’s
            one out of every five! Lucky for you, science is on our side and
            with the right approach, counter-productive behaviors like
            <strong>procrastination can be "hacked"</strong> into productive ones by tapping into
            the built-in reward system in our brains.
          </p>
          <p>
            <strong>This is a chance to learn the skills you need to take your
            professional life to the next level.</strong>
          </p>
          <p>
            We'll provide the roadmap, you'll set the destination — <strong>don't
            procrastinate this one!</strong>
          </p>
        </v-flex>
      </v-layout>
    </section>

    <v-parallax dark :src="images.cenitalMagentaForest" height="auto">
      <section class="magenta-overlay">
        <v-layout column align-center align-content-center justify-center>
          <v-flex xs12>
            <p>
              <v-btn
                large
                :href="workshop.link"
                target="_blank"
                class="ma-2"
                round
                dark
                outline
              >
                BOOK NOW
              </v-btn>
            </p>
          </v-flex>
        </v-layout>
      </section>
    </v-parallax>

    <section class="gradient-bg-inverted outline">
      <v-layout column align-content-center class="pa-3">
        <v-layout row wrap align-start justify-start>
          <v-flex xs12 md6 class="px-3">
            <h2 class="mb-4">What are you going to learn?</h2>
            <ul>
              <li class="no-style">
                <h3>Agile project management</h3>
              </li>
              <li class="no-style">
                <ul>
                  <li>
                    Planning and structuring any type of project from the ground
                    up
                  </li>
                  <li>
                    Having a clear vision on how to achieve your goals
                  </li>
                  <li>
                    How to keep your sanity managing information overload
                  </li>
                  <li>
                    Conscious team collaboration
                  </li>
                </ul>
              </li>
              <li class="no-style">
                <h3>The neuroscience behind getting things done</h3>
              </li>
              <li class="no-style">
                <ul>
                  <li>
                    Understand how and why you procrastinate
                  </li>
                  <li>
                    Create the right setup so your brain operate in optimal
                    conditions
                  </li>
                  <li>
                    Break through the limiting beliefs that have been holding
                    you back
                  </li>
                  <li>
                    Hack your brain and rewire those counter-productive habits
                  </li>
                  <li>
                    Eradicate procrastination from your life
                  </li>
                </ul>
              </li>
              <li class="no-style">
                <h3>Hands-on with essential tools</h3>
              </li>
              <li class="no-style">
                <ul>
                  <li>
                    Setting up a digital workspace & dashboards to manage your
                    project
                  </li>
                  <li>
                    Use modern apps to stay focused, productive and stress-free
                  </li>
                  <li>
                    How to collaborate with a decentralized team working on
                    different schedules
                  </li>
                </ul>
              </li>
            </ul>
            <p class="text-xs-center">
              <img
              :src="images.methodologies"
              alt="Project Management Methodologies"
              class="illustration"
              />
            </p>
          </v-flex>
          <v-flex xs12 md6 class="px-3 mb-2">
            <h2 class="mb-4">Who is this for?</h2>
            <p>
              <strong>Creatives</strong> who want to move forward and
              professionalize their passion.
            </p>
            <p>
              Are you struggling to stay on-track? Sometimes it can be really
              hard to go back to the creative flow when you also need to deal
              with the business side of your projects. This workshop will
              provide a flexible framework that you can <strong>immediately start using</strong>
              to provide a solid structure for your projects and <strong>free up the
              creative energy</strong> that you need to do what you love.
            </p>
            <hr>
            <p>
              <strong>Entrepreneurs</strong> learning how to lead a company.
            </p>
            <p>
              Starting any kind of business requires a set of many different
              skills. You probably occupy many roles at the same time. This can
              be quite stressful over time. There may not be a clear structure
              in your organization yet. You need to <strong>be agile and adapt to the
              challenges</strong> and opportunities that arise every day. But how to do
              it if you can't <strong>communicate effectively</strong> with your team and not
              everyone understands what the priorities are?
            </p>
            <hr>
            <p>
              <strong>Disruptors</strong> working with local communities and making positive changes step by step.
            </p>
            <p>
              Have you ever organized an event for your community? It's quite
              hard right? You're working with limited resources (maybe in your
              free time): <strong>being efficient with time and assets</strong> is a must.
              Keeping track of all the tasks and <strong>making sure that everyone is on
              the same page</strong> is no small feat. <strong>How do you get things done</strong> with a
              community where everyone has a different working schedules and
              can't be present in every meeting?
            </p>
          </v-flex>
        </v-layout>
      </v-layout>
    </section>

    <v-parallax :src="images.cenitalMagentaForest" height="auto">
      <section class="magenta-overlay">
        <v-layout column wrap align-center>
          <v-flex xs12 class="px-3 mb-5">
            <div class="text-xs-center">
              <h2 class="main-header mb-4">Instructors</h2>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout justify-space-around row wrap>
                <hbl-profile-card
                  v-for="human in humans"
                  :key="human.name"
                  :image="human.image"
                  :name="human.name"
                  :title="human.title"
                  :description="human.description"
                  :socialLinks="human.socialLinks"
                >
                </hbl-profile-card>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>
    </v-parallax>
  </v-container>
</template>

<script>
import magentaForestRoad from '@/assets/images/backgrounds/magenta_forest_road.jpg'
import cenitalMagentaForest from '@/assets/images/backgrounds/cenital_magenta_forest.jpg'
import HblProfileCard from '@/components/HblProfileCard'
import ramiroProfile from '@/assets/images/profiles/ramiro.jpg'
// import sabrinaProfile from '@/assets/images/profiles/sabrina.jpg'
import benProfile from '@/assets/images/profiles/ben.jpg'
import methodologies from '@/assets/images/workshops/methodologies.svg'

export default {
  components: {
    HblProfileCard
  },
  head() {
    return {
      title:
        'Project Management - Mind Hacks & Methodology for creatives, entrepreneurs and disruptors - Human Beyond Labs',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Can you imagine breaking free from bad habits and knowing exactly how to achieve your goals?'
        },
        {
          hid: 'keywords',
          name: 'keywords',
          keywords:
            'project management, workshop, course, entrepreneur, artist, creative, time blocking, time management, agile team, descentralized team, cross-funciontal team, amsterdam, Netherlands, disruptors, brain hacks, procrastination, how to avoid procrastination, stop procrastinating'
        }
      ]
    }
  },
  data() {
    return {
      images: {
        magentaForestRoad,
        cenitalMagentaForest,
        methodologies
      },
      workshop: {
        title: 'Project Management - Mind Hacks & Methodology',
        price: '€184',
        date: 'July 3th, 2019',
        location: 'A Lab - Amsterdam',
        address: 'Overhoeksplein 2, 1031 KS Amsterdam',
        time: '11:30h - 17h',
        link:
          'https://www.eventbrite.com/e/project-management-workshop-mind-hacks-methodology-for-creatives-tickets-62447319614'
      },
      humans: [
        // {
        //   name: 'Sabrina Tolmer',
        //   image: sabrinaProfile,
        //   title: 'CO-FOUNDER',
        //   socialLinks: [
        //     {
        //       icon: 'fab fa-twitter',
        //       title: 'Twitter',
        //       link: 'https://twitter.com/iamwayra'
        //     },
        //     {
        //       icon: 'fab fa-instagram',
        //       title: 'Instagram',
        //       link: 'https://www.instagram.com/wayra4'
        //     },
        //     {
        //       icon: 'fab fa-linkedin',
        //       title: 'LinkedIn',
        //       link: 'https://www.linkedin.com/in/sabrina-tolmer-819426126/'
        //     }
        //   ]
        // },
        {
          image: ramiroProfile,
          name: 'Ramiro Ramirez',
          title: 'CO-FOUNDER',
          socialLinks: [
            {
              icon: 'fab fa-twitter',
              title: 'Twitter',
              link: 'https://twitter.com/eco_virtual'
            },
            {
              icon: 'fab fa-instagram',
              title: 'Instagram',
              link: 'https://www.instagram.com/ecovirtual/'
            },
            {
              icon: 'fab fa-linkedin',
              title: 'LinkedIn',
              link: 'https://www.linkedin.com/in/ramirezramiro/'
            }
          ],
          description:
            'A digital nomad with 10 years of experience as a professional creative. He has founded creative agencies in Spain, Mexico and The Netherlands. Deeply passionate about the intersection of software and creative expression. Always happy to geek out about the latest productivity tools and mind-blowing generative art.'
        },
        {
          image: benProfile,
          name: 'Ben Samson',
          title: 'CO-FOUNDER',
          socialLinks: [
            {
              icon: 'fab fa-twitter',
              title: 'Twitter',
              link: 'https://twitter.com/frissionmedia'
            },
            {
              icon: 'fab fa-instagram',
              title: 'Instagram',
              link: 'https://www.instagram.com/biggullyben/'
            },
            {
              icon: 'fab fa-linkedin',
              title: 'LinkedIn',
              link: 'https://www.linkedin.com/in/bensampson/'
            }
          ],
          description:
            'Ben is an obsessive multidisciplinary creative with over 15 years of professional experience in various aspects of production.  He began his career as an audio engineer, recording, mixing and producing music at top recording studios in Manhattan and surrounding areas. Has won multiple awards for his work as producer and editor specialized in VFX and motion graphics. While normally quiet, if you bring up subjects like blockchain, pro audio & video gear, the future of AI ...prepare to have your ear talked off!'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
#project-management section.workshop-hero {
  // padding: 0;
  height: auto;
  .hero-header {
    font-size: 36px;
  }
  .workshop-card {
    display: flex;
    flex-flow: column nowrap;
    // text-align: left;
    // justify-content: center;
    align-items: center;
    align-content: center;
    .card-subheader {
      font-size: 20px;
    }
    .v-card__text {
      width: 100%;
      text-align: center;
      padding: 0;
    }
    .price {
      font-size: 36px;
      font-weight: 600;
    }
  }
}

.outline {
  li {
    // font-size: 100%;
    font-weight: lighter;
    margin-bottom: 6px;
  }
  li.no-style {
    list-style-type: none;
  }
}
.illustration {
  width: 280px;
  height: auto;
  margin: 10px;
}
hr {
  color: white;
  margin: 30px 0;
}
</style>
